body{ 
	font-family: 'Lato', sans-serif;
}	   

h1,h4{
	font-family: 'Lato', sans-serif; 
	color: white; 
}

div#inventario{
	background-color: #f9f9f9;
}
div#venta{
	border-left: 15px solid #ccc;
}
	div#contenedor-total{		
		padding-left: 1rem;
		color: green
	}
		div#contenedor-total > p{
			font-size: 1.5rem;
			line-height: 1rem;
		}
	span.nombre{
		padding-left: .5rem;
	}
	span.precio{
		padding-right: .5rem;
	}


.inline-list{
     display: table;
     margin: 0 auto;
}