html,body{ 
	margin:0; 
	padding:0; 
	height:100%; 
	width:100%; 
	font-family: 'Lato', sans-serif;
	background-image: url('../images/coffee.jpg')  ;
}

div#main{
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
	div#registry-title{
		font-size: 3.4rem;
		text-align: center;
		color: #ececea;
		font-weight: bold;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
		div#registry-title > span{
			font-weight: 300;
			font-size: 30px;
			top: 10%;			
		}

	div#registry-box{
		height: 25%;
		width: 40%;
		position: absolute;
		left: 30%;
		top: 30%;
		border-radius: 5px;
		background-color: #F9F9F9;

	}
		input.registry-input{		
			position: relative;
			margin-top: 9%;		
			width: 80%;
			left: 10%;
			border: solid 2px;
			border-radius: 4px;
			border-color: #ccc;
			padding-left: 10px;
			line-height: 47px;
			font-size: 30px;
			font-weight: 300;
			color: black;

		}
		input#registry{
			width: 83%;
			border: none;
			background-color: #4f9eca;
			color: white;
		}
		form#container{
		background-color: #ececea;
		-webkit-border-radius: 8px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		position: relative;
		}
		div#buttons{
			position: absolute; 
			bottom:0;
		}


		img#iconoMail{
			padding-top: 5%;
		}

/* table,th,td{
	border:1px solid black;
	border-collapse:collapse;
} */
th,td{
	padding:5px;
}
}
button{
	display: inline;